apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ .Release.Name }}-nginx
spec:
    selector:
        matchLabels:
            app: {{ .Release.Name }}-nginx
    template:
        metadata:
            labels:
                app: {{ .Release.Name }}-nginx
        spec:
            containers:
                - name: {{ .Release.Name }}-nginx
                    image: nginx:latest
                    ports: 80