apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.serviceName }}
spec:
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
  ports:
    - protocol: {{ .Values.protocol }}
      port: {{ .Values.port }}
      targetPort: {{ .Values.targetPort }}