apiVersion: v1
kind: Pod
metadata:
  name: env-pod
  labels:
    app: myapp
spec:
  containers:
    - name: myapp
      image: nginx
      ports:
        - containerPort: 80
      env:
        - name: APP_ENV
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: APP_ENV

        - name: APP_VERSION
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: APP_VERSION

        - name: username
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: username

        - name: password
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: password
